<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Page</title>

{% extends 'shop_app/main.html' %}
{% block content %}


<header> 

<div class="header-bar">
    <h1>My Shopping List -  <br>
        Create Account
    </h1>

</div>
    

</header>

<main>

<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <label style="font-size: large;">{{form.username.label}}</label>
    
    <label style="font-size: large;">{{form.password1.label}}</label>

    <label style="font-size: large;">{{form.password2.label}}</label>
    
    <input style="margin-top: 10px; font-size: large; font-weight: bolder;" class="button" type="submit" value="Submit">
</form>
</div>

</main>

<footer>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>


</footer>



{% endblock %}