{% extends 'shop_app/main.html' %}
{% block content %}


<header> 

<div class="header-bar">
    <h1>My Shopping List -  <br>
        Create Account
    </h1>

</div>
    

</header>

<main>

<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <label style="font-size: large;">{{form.username.label}}</label>
    {{form.username}}

    <label style="font-size: large;">{{form.password1.label}}</label>
    {{form.password1}}

    <label style="font-size: large;">{{form.password2.label}}</label>
    {{form.password2}}
    <input style="margin-top: 10px; font-size: large; font-weight: bolder;" class="button" type="submit" value="Submit">
</form>

</main>

<footer>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

</footer>



{% endblock %}