<h1>My Shopping List</h1>

<a href="{% url 'create-item' %}">Add a shopping item</a>
<table>
    <tr>
        <th>List</th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    {% for task in object_list %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href ="{% url 'task' task.id %}">View</a></td>
        <td><a href ="{% url 'edit-item' task.id %}">Update</a></td>
        <td><a href ="{% url 'remove-item' task.id %}">Remove</a></td>
    </tr>
    </tr>
    {% empty %}
        <h3>No more items in Shopping List</h3>
    {% endfor %}
    </table>